.idea/
*.pyc
/analytics
/model/checkpoints/
smoke_tests/
_to_refactor
/docs
.DS_Store
build/
dist/
*.egg-info
sandbox/
saved/
artifacts/bart/bart.base.pt
artifacts/checkpoints/
artifacts/output/
artifacts/summs/
artifacts/misc/stanford-corenlp-full-2016-10-31/
fairseq_lib/
files2rouge/
checkpoints
/data/
log/
preprocessing/